*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #fdfdfd;
}
.nav{
    margin-bottom: 10px;
    height: 40px;
    align-items: center;
    font-weight: bold;
    background-color: #80ced6;
    color:#fcfcfc;
    font-size: 30px;
    text-align: center;
}
.card{
    color: #008040;
    background-color: #fcfcfc;
    border: 2px solid #80ced6;
    border-radius: 4px;
    margin: 7px;
    padding:7px;
}
h3{
    padding-left: 5px;
}
.personalInfoHeader{
    text-align: left;
}

ul{
    padding:20px;
    text-align: left;
    list-style: none;
}
span{
    font-weight: bold;
}
.personalInfo{
    text-align: center;
}
.picture{
    width:250px;
    height:250px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.personalInfo{grid-area: personalInfo;}
.careerObjective{grid-area: careerObjective;}
.education{grid-area: education;}
.techSkills{grid-area: techSkills;}
.personalSkills{grid-area: personalSkills;}
.projects{grid-area: projects;}

.gridSystem{
    display: grid;
    grid-template-areas: 
    'personalInfo careerObjective careerObjective'
    'personalInfo education techSkills'
    'personalInfo education personalSkills'
    'projects projects projects';
    grid-gap: 2px;
}
